<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Api Guard</display-name>

	<!-- <listener> <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> 
		</listener> -->

	<!-- spring config -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			<!-- Load up the config for each component -->
			classpath*:/config/SpringBeans/*
        </param-value>
	</context-param>

	<!-- start spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- <context-param> <param-name>log4jConfigLocation</param-name> <param-value>classpath:config/common/logging.properties</param-value>
		</context-param> -->

	<servlet>
		<servlet-name>apiguard</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/apiguard-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>apiguard</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>preProcessFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>preProcessFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>